<robot name="framy">
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="4.0"/>
      <inertia ixx="0.043333333333333335" iyy="0.06666666666666668" izz="0.08333333333333333" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.4 0.3 0.2"/>
      </geometry>
      <material name="a">
        <color rgba="0.8 0.8 0.8 0.7"/>
      </material>
    </visual>
  </link>
  <link name="head_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.2 0.2 0.2"/>
      </geometry>
      <material name="a">
        <color rgba="0.8 0.8 0.8 0.7"/>
      </material>
      <origin xyz="0 0 0.1" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="head" type="fixed">
    <parent link="base_link"/>
    <child link="head_link"/>
    <origin xyz="0.25000000000000006 0 0.05" rpy="0 0 0"/>
  </joint>
  <link name="nose_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.1 0.1 0.05"/>
      </geometry>
      <material name="a">
        <color rgba="0.8 0.8 0.8 0.7"/>
      </material>
      <origin xyz="0.05 0 0.025" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="nose" type="fixed">
    <parent link="head_link"/>
    <child link="nose_link"/>
    <origin xyz="0.07 0 0" rpy="0 0 0"/>
  </joint>
  <link name="nose_tip_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.05 0.1 0.02"/>
      </geometry>
      <material name="a">
        <color rgba="0 0 0 0.5"/>
      </material>
      <origin xyz="-0.025 0 -0.01" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="nose_tip" type="fixed">
    <parent link="nose_link"/>
    <child link="nose_tip_link"/>
    <origin xyz="0.1 0 0.05" rpy="0 0 0"/>
  </joint>
  <link name="ear_left_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.05 0.1 0.1"/>
      </geometry>
      <material name="a">
        <color rgba="0.8 0.8 0.8 0.7"/>
      </material>
      <origin xyz="0 0.05 0.05" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="ear_left" type="fixed">
    <parent link="head_link"/>
    <child link="ear_left_link"/>
    <origin xyz="-0.02 0.05 0.15000000000000002" rpy="0 0 0"/>
  </joint>
  <link name="ear_right_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.05 0.1 0.1"/>
      </geometry>
      <material name="a">
        <color rgba="0.8 0.8 0.8 0.7"/>
      </material>
      <origin xyz="0 -0.05 0.05" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="ear_right" type="fixed">
    <parent link="head_link"/>
    <child link="ear_right_link"/>
    <origin xyz="-0.02 -0.05 0.15000000000000002" rpy="0 0 0"/>
  </joint>
  <link name="tail_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.1 0.1 0.05"/>
      </geometry>
      <material name="a">
        <color rgba="0.8 0.8 0.8 0.7"/>
      </material>
      <origin xyz="-0.05 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="tail" type="fixed">
    <parent link="base_link"/>
    <child link="tail_link"/>
    <origin xyz="-0.15000000000000002 0 0.1" rpy="0 0 0"/>
  </joint>
  <link name="eye_left_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <geometry>
        <cylinder length="0.02" radius="0.02"/>
      </geometry>
      <material name="a">
        <color rgba="0 0 0 0.5"/>
      </material>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="eye_left" type="fixed">
    <parent link="head_link"/>
    <child link="eye_left_link"/>
    <origin xyz="0.1 -0.05 0.1" rpy="0 1.5707963267948966 0"/>
  </joint>
  <link name="eye_right_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="0" iyy="0" izz="0" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <geometry>
        <cylinder length="0.02" radius="0.02"/>
      </geometry>
      <material name="a">
        <color rgba="0 0 0 0.5"/>
      </material>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>
  <joint name="eye_right" type="fixed">
    <parent link="head_link"/>
    <child link="eye_right_link"/>
    <origin xyz="0.1 0.05 0.1" rpy="0 1.5707963267948966 0"/>
  </joint>
  <link name="leg0_link_1">
    <inertial>
      <origin xyz="0 0 -0.1" rpy="0 0 0"/>
      <mass value="1.5"/>
      <inertia ixx="0.005312500000000001" iyy="0.005312500000000001" izz="0.0006250000000000001" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.05 0.05 0.2"/>
      </geometry>
      <origin xyz="0 0 -0.1" rpy="0 0 0"/>
      <material name="a">
        <color rgba="0.8 0.8 0.8 1"/>
      </material>
    </visual>
  </link>
  <link name="leg0_link_2">
    <inertial>
      <origin xyz="0 0 -0.125" rpy="0 0 0"/>
      <mass value="2"/>
      <inertia ixx="0.010833333333333334" iyy="0.010833333333333334" izz="0.0008333333333333335" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.05 0.05 0.25"/>
      </geometry>
      <origin xyz="0 0 -0.125" rpy="0 0 0"/>
      <material name="a">
        <color rgba="0.8 0.8 0.8 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.05 0.05 0.25"/>
      </geometry>
      <origin xyz="0 0 -0.125" rpy="0 0 0"/>
    </collision>
  </link>
  <link name="leg0_link_3">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.5"/>
      <inertia ixx="0.00020833333333333337" iyy="0.00020833333333333337" izz="0.00020833333333333337" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <geometry>
        <cylinder radius="0.03" length="0.05"/>
      </geometry>
      <origin xyz="0 0 0" rpy="1.5707963267948966 0 0"/>
      <material name="a">
        <color rgba="0.8 0.8 0.8 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.03" length="0.05"/>
      </geometry>
      <origin xyz="0 0 0" rpy="1.5707963267948966 0 0"/>
    </collision>
  </link>
  <joint name="leg0_joint_1" type="continuous">
    <parent link="base_link"/>
    <child link="leg0_link_1"/>
    <origin xyz="0.1 0.08 0.05" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>
  <joint name="leg0_joint_2" type="continuous">
    <parent link="leg0_link_1"/>
    <child link="leg0_link_2"/>
    <origin xyz="0 0 -0.2" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>
  <joint name="leg0_joint_3" type="fixed">
    <parent link="leg0_link_2"/>
    <child link="leg0_link_3"/>
    <origin xyz="0 0 -0.25" rpy="0 0 0"/>
  </joint>
  <link name="leg1_link_1">
    <inertial>
      <origin xyz="0 0 -0.1" rpy="0 0 0"/>
      <mass value="1.5"/>
      <inertia ixx="0.005312500000000001" iyy="0.005312500000000001" izz="0.0006250000000000001" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.05 0.05 0.2"/>
      </geometry>
      <origin xyz="0 0 -0.1" rpy="0 0 0"/>
      <material name="a">
        <color rgba="0.8 0.8 0.8 1"/>
      </material>
    </visual>
  </link>
  <link name="leg1_link_2">
    <inertial>
      <origin xyz="0 0 -0.125" rpy="0 0 0"/>
      <mass value="2"/>
      <inertia ixx="0.010833333333333334" iyy="0.010833333333333334" izz="0.0008333333333333335" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.05 0.05 0.25"/>
      </geometry>
      <origin xyz="0 0 -0.125" rpy="0 0 0"/>
      <material name="a">
        <color rgba="0.8 0.8 0.8 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.05 0.05 0.25"/>
      </geometry>
      <origin xyz="0 0 -0.125" rpy="0 0 0"/>
    </collision>
  </link>
  <link name="leg1_link_3">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.5"/>
      <inertia ixx="0.00020833333333333337" iyy="0.00020833333333333337" izz="0.00020833333333333337" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <geometry>
        <cylinder radius="0.03" length="0.05"/>
      </geometry>
      <origin xyz="0 0 0" rpy="1.5707963267948966 0 0"/>
      <material name="a">
        <color rgba="0.8 0.8 0.8 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.03" length="0.05"/>
      </geometry>
      <origin xyz="0 0 0" rpy="1.5707963267948966 0 0"/>
    </collision>
  </link>
  <joint name="leg1_joint_1" type="continuous">
    <parent link="base_link"/>
    <child link="leg1_link_1"/>
    <origin xyz="0.1 -0.08 0.05" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>
  <joint name="leg1_joint_2" type="continuous">
    <parent link="leg1_link_1"/>
    <child link="leg1_link_2"/>
    <origin xyz="0 0 -0.2" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>
  <joint name="leg1_joint_3" type="fixed">
    <parent link="leg1_link_2"/>
    <child link="leg1_link_3"/>
    <origin xyz="0 0 -0.25" rpy="0 0 0"/>
  </joint>
  <link name="leg2_link_1">
    <inertial>
      <origin xyz="0 0 -0.1" rpy="0 0 0"/>
      <mass value="1.5"/>
      <inertia ixx="0.005312500000000001" iyy="0.005312500000000001" izz="0.0006250000000000001" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.05 0.05 0.2"/>
      </geometry>
      <origin xyz="0 0 -0.1" rpy="0 0 0"/>
      <material name="a">
        <color rgba="0.8 0.8 0.8 1"/>
      </material>
    </visual>
  </link>
  <link name="leg2_link_2">
    <inertial>
      <origin xyz="0 0 -0.125" rpy="0 0 0"/>
      <mass value="2"/>
      <inertia ixx="0.010833333333333334" iyy="0.010833333333333334" izz="0.0008333333333333335" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.05 0.05 0.25"/>
      </geometry>
      <origin xyz="0 0 -0.125" rpy="0 0 0"/>
      <material name="a">
        <color rgba="0.8 0.8 0.8 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.05 0.05 0.25"/>
      </geometry>
      <origin xyz="0 0 -0.125" rpy="0 0 0"/>
    </collision>
  </link>
  <link name="leg2_link_3">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.5"/>
      <inertia ixx="0.00020833333333333337" iyy="0.00020833333333333337" izz="0.00020833333333333337" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <geometry>
        <cylinder radius="0.03" length="0.05"/>
      </geometry>
      <origin xyz="0 0 0" rpy="1.5707963267948966 0 0"/>
      <material name="a">
        <color rgba="0.8 0.8 0.8 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.03" length="0.05"/>
      </geometry>
      <origin xyz="0 0 0" rpy="1.5707963267948966 0 0"/>
    </collision>
  </link>
  <joint name="leg2_joint_1" type="continuous">
    <parent link="base_link"/>
    <child link="leg2_link_1"/>
    <origin xyz="-0.15 0.08 0.05" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>
  <joint name="leg2_joint_2" type="continuous">
    <parent link="leg2_link_1"/>
    <child link="leg2_link_2"/>
    <origin xyz="0 0 -0.2" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>
  <joint name="leg2_joint_3" type="fixed">
    <parent link="leg2_link_2"/>
    <child link="leg2_link_3"/>
    <origin xyz="0 0 -0.25" rpy="0 0 0"/>
  </joint>
  <link name="leg3_link_1">
    <inertial>
      <origin xyz="0 0 -0.1" rpy="0 0 0"/>
      <mass value="1.5"/>
      <inertia ixx="0.005312500000000001" iyy="0.005312500000000001" izz="0.0006250000000000001" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.05 0.05 0.2"/>
      </geometry>
      <origin xyz="0 0 -0.1" rpy="0 0 0"/>
      <material name="a">
        <color rgba="0.8 0.8 0.8 1"/>
      </material>
    </visual>
  </link>
  <link name="leg3_link_2">
    <inertial>
      <origin xyz="0 0 -0.125" rpy="0 0 0"/>
      <mass value="2"/>
      <inertia ixx="0.010833333333333334" iyy="0.010833333333333334" izz="0.0008333333333333335" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.05 0.05 0.25"/>
      </geometry>
      <origin xyz="0 0 -0.125" rpy="0 0 0"/>
      <material name="a">
        <color rgba="0.8 0.8 0.8 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.05 0.05 0.25"/>
      </geometry>
      <origin xyz="0 0 -0.125" rpy="0 0 0"/>
    </collision>
  </link>
  <link name="leg3_link_3">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.5"/>
      <inertia ixx="0.00020833333333333337" iyy="0.00020833333333333337" izz="0.00020833333333333337" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <geometry>
        <cylinder radius="0.03" length="0.05"/>
      </geometry>
      <origin xyz="0 0 0" rpy="1.5707963267948966 0 0"/>
      <material name="a">
        <color rgba="0.8 0.8 0.8 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.03" length="0.05"/>
      </geometry>
      <origin xyz="0 0 0" rpy="1.5707963267948966 0 0"/>
    </collision>
  </link>
  <joint name="leg3_joint_1" type="continuous">
    <parent link="base_link"/>
    <child link="leg3_link_1"/>
    <origin xyz="-0.15 -0.08 0.05" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>
  <joint name="leg3_joint_2" type="continuous">
    <parent link="leg3_link_1"/>
    <child link="leg3_link_2"/>
    <origin xyz="0 0 -0.2" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>
  <joint name="leg3_joint_3" type="fixed">
    <parent link="leg3_link_2"/>
    <child link="leg3_link_3"/>
    <origin xyz="0 0 -0.25" rpy="0 0 0"/>
  </joint>
</robot>
